<div id="home">
  <div id="user">
    {{#if user}}
      <h2>{{user}}</h2> 
      Follows:{{#each follows}} {{this}}{{/each}}<br>
      <button class="button button-sm" id="go-home">back</button>
      {{#if canFollow}}<button class="button button-sm" user={{user}} id="follow-user">follow</button>{{/if}}
    {{else}}
      {{#if filteredView}}<button class="button button-sm" id="go-home">back</button>{{/if}}
      {{#if currentUser}}
      <div id="new-note-box">
        <form id="note-form">
          <input id="note-input" class="input" type="text" maxlength="160">
          <button id="note-button" class="button search-row-button" type="submit">Publish!</button>
          <button id="view-follows" class="button search-row-button">Only See People I Follow</button>
        </form>
      </div>
    {{/if}}
    <div id="note-error" class="error">
        {{#if notLoggedIn}}
          Log in or register to view notes!
        {{/if}}
      </div>
    </div>
    {{/if}}
    <div id="note-container">
      {{#each notes}}
        <div id={{this._id}} class="note-box">
          {{#if this.ownership}}<button note={{this._id}} class="delete-button no-border">X</button>
          {{else}} 
            {{#if this.isRefreet}} 
            {{else}} <button note={{this._id}} class="rf-button">ReFreet</button>
            {{/if}}
          {{/if}}
          <b><a href="#" class="note-user" user={{this.author}}>@{{this.author}} </a></b>
          {{#if this.isRefreet}} reFreeted {{this.originalAuthor}} {{/if}}
          <em class="note-time">({{this.ts}})</em> - <p class="note-text">{{this.text}}</p>
        </div>
      {{/each}}
    </div>
  </div>
</div>